@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <img src="http://assets.londonist.com/uploads/2016/02/new_zealand_wine_cellar_.jpg">
   <p class="accept-policy">
       Here at Glengarry we have an ever-rotating roster of tastings and events taking place in any number of our Auckland and Wellingtons stores or popping up around the country as we can!

       Whether its an educational Wine Academy (Stages 1, 2 or 3), our monthly Malt Whisky Club or Craft Beer Night we have something on that will suit you and your friends for a fun evening out.

       Wanting to learn about our most recently arrived shipment of Spanish spectaculars, the just-releases En Primeur Bordeaux or our classy Italian superstars? Prefer to explore the rums of the Caribbean, enjoy a stoic scotch or the exciting Irish whiskies? Hop-obsessed and needing to meet like-minded maltsters? Matching food to wine, cheese to whisky and comedy to craft beer, whatever you are looking for our wide and ever expanding series of tastings, events and masterclasses will surely please the palate.
   </p>
</div>
